// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #D8343A;
$secondary-color: #1E1C22;
$backGround-color: #A69C9A;
$neutral-color: #F4EEEC;

$transition-speed: 0.5s;
